
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Movies Web Application!</h1>

    <div class="d-flex justify-content-center align-items-center" style="height: 50vh; flex-direction: column;">
        <h2>This is a simple CRUD web application built using ASP.NET Core MVC and Entity Framework Core,</h2>
        <h2> also uses a SQL Server database to store movie titles and details about the movies.</h2>

        <h1>To start, click on the <b>Movie App</b> button on the top left!</h1>
    </div>
</div>

